// z-index
$z-index-sticky: 1000;
$z-index-dropdown: 1020;
$z-index-dropdown-on-sticky: 1025;
$z-index-fixed: 1030;
$z-index-modal-backdrop: 1040;
$z-index-modal: 1050;
$z-index-popover: 1060;
$z-index-tooltip: 1070;

// font-size
// $fz-xl: 1.25rem; // 20px
// $fz-l: 1.125rem; // 18px
// $fz-m: 1rem; // 16px
// $fz-s: 0.875rem; // 14px
// $fz-xs: 0.75rem; // 12px

:root[data-theme='light'] {
  // --color-text: #0e0c0c;
  // --color-bg: #e5e5e5;
}

:root[data-theme='dark'] {
  // --color-text: #bfbfbf;
  // --color-bg: #232323;
}

// PrimeVue color
// https://primevue.org/colors/

html {
  color: var(--text-color);
  background: var(--surface-ground);
  transform: color, background-color;
  transition: 0.5s;
}

:root {
  --section-padding-y: 1rem;
  --section-padding-x: 1rem;
  --crosswise-section-padding-y: 2rem;
  --crosswise-section-padding-x: 2rem;
  --crosswise-container-max-width: 1200px;
}

@mixin base-section {
  position: relative;
  padding: var(--section-padding-y) var(--section-padding-x);
  width: 100%;
  @include crosswise {
    margin: auto;
    padding: var(--crosswise-section-padding-y) var(--crosswise-section-padding-x);
    max-width: var(--crosswise-container-max-width);
  }
}

$fake-bg-color: rgb(190, 190, 190);
