@mixin button($color, $color-hover, $color-active, $bg, $bg-hover, $bg-active) {
  display: inline-flex;
  align-items: center;
  padding: 12px;
  height: 44px;
  color: $color;
  background: $bg;
  border: 1px solid $primary-1;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;

  &:hover:not(:disabled) {
    color: $color-hover;
    background: $bg-hover;
  }

  &:active:not(:disabled) {
    color: $color-active;
    background: $bg-active;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hollowButton {
  @include button($secondary-1, $primary-1, $primary-1, $white, $gray, $primary-2);
}

.solidButton {
  @include button($white, $primary-1, $primary-1, $primary-1, $primary-2, $primary-3);
}
